<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-3">
            <span (click)="clickHome()" class="mytitle">
                FindMyGym
            </span>
        </div>
        <div class="col-5"></div>
        <div class="col-3">
            
            <section>
                <div class="example-button-row">
                  <button (click)="onClick()" mat-raised-button color="grey">Need help picking a gym?</button>
                </div>
              </section>

        </div>
    </div>
</div>